[buildout]
extensions = mr.developer
auto-checkout = *
parts =
      simplejson
      WebError
      MySQL-python
      gvizapi
      zope.pagetemplate
      restkit
      restish
      pyramid

[sources]
gvizapi = svn svn://rnaguest@svn.crg.es/big/raisin/gvizapi/trunk path=src
raisin.mysqldb = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.mysqldb/trunk path=src
raisin.resource = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.resource/trunk path=src
raisin.restish = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.restish/trunk path=src
raisin.restkit = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.restkit/trunk path=src
raisin.restyler = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.restyler/trunk path=src
raisin.pyramid = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.pyramid/trunk path=src
raisin.box = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.box/trunk path=src
raisin.page = svn svn://rnaguest@svn.crg.es/big/raisin/raisin.page/trunk path=src

[simplejson]
recipe = zc.recipe.egg

[WebError]
recipe = zc.recipe.egg

[MySQL-python]
recipe = zc.recipe.egg

[gvizapi]
recipe = zc.recipe.egg

[zope.pagetemplate]
recipe = zc.recipe.egg

[restkit]
recipe = zc.recipe.egg

[restish]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = WebError
       MySQL-python
       zope.pagetemplate
       gvizapi
       restkit
       restish
       raisin.mysqldb
       raisin.resource
       raisin.restish
       raisin.pyramid
       raisin.box
       raisin.page
       raisin.restkit
       raisin.restyler
interpreter = pyrestish

[pyramid]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = WebError
       MySQL-python
       zope.pagetemplate
       gvizapi
       restkit
       raisin.mysqldb
       raisin.resource
       raisin.restish
       pyramid
       raisin.restkit
       raisin.restyler
       raisin.pyramid
       raisin.box
       raisin.page
interpreter = pypyramid
